
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galenos</title>
</head>
<body>

<header class="header">
  <ul class="menu">
    <!--<li class="menu-dropdown">
      <span>Formularios</span>
      <ul class="submenu">
        <li><a href="/informe">Comision</a></li>
        <li><a href="/recaudacion">Recaudación</a></li>
      </ul>
    </li>-->

    <li class="menu-dropdown">
      <span>Especialidad</span>
      <ul class="submenu">
        <li><a href="/crear_especialidad">Crear</a></li>
        <!--<li><a href="#">Eliminar</a></li>-->
      </ul>
    </li>

    <a href="#" class="logo">Galenos</a>
    <li class="menu-dropdown">
      <span>Calendario</span>
      <ul class="submenu">
          <li><a routerLink="/gen_calendario">Generar</a></li>
          <li><a routerLink="/modificar_horas">Modificar y eliminar</a></li>

      </ul>
      </li>
    <li class="menu-dropdown">
      <span>Medico</span>
      <ul class="submenu">
        <li><a routerLink="/crear_medico">Crear </a></li>
        <!--<li><a href="#">Modificar datos </a></li>
        <li><a href="#">Eliminar</a></li>-->
        <li><a routerLink="/horas_medico"> ver horas</a></li>
      </ul>
    </li>
  </ul>
</header>

<body>
    <div class="login-page">
        
        <div class="form" >
            <h1>Registrar</h1>
        <form class="login-form" (ngSubmit)="registrar()">
            <h3>Nombre</h3>
            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nombre"/>
            <h3>Apellido</h3>
            <input type="text" placeholder="Apellido" name="apellido" [(ngModel)]="apellido"/>
            <h3>Rut:</h3>
            <input type="text" placeholder="Rut" name="rut" [(ngModel)]="rut"/>
            <h3>correo:</h3>
            <input type="text" placeholder="Correo" name="correo" [(ngModel)]="correo"/>
            <h3>contraseña: </h3>
            <input type="password" placeholder="Contraseña" name="contrasena"[(ngModel)]="contrasena"/>
            <h3>especialidad</h3>
            <select [formControl]="especialidadControl" (change)="ver()">
                <option *ngFor="let especialidad of especialidades" [value]="especialidad.id_esp">
                  {{ especialidad.nombre }}
                </option>
              </select>
            <button>Crear</button>
        </form>
        </div>
    </div>
</body>
