
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galenos</title>
</head>
<body>

<header class="header">
<ul class="menu">
    <a href="#" class="logo">Galenos</a>
    <li class="menu-dropdown">
        <span>Horas</span>
        <ul class="submenu">
            <li><a href="/Ver_horario">Ver horas</a></li>
        </ul>
    </li>
</ul>
</header>

    <div class="contenedor">
        <img class="centrar"src="../../../assets/caa1.jpg">
    </div>
    <div class="servicios">
        <h2>nuestros servicios</h2>
        <section>
            <div><img src="../../../assets/Dental.png"> Dental</div>
            <div><img src="../../../assets/Salud.png">Especialidades Medicas</div>
            <div><img src="../../../assets/Kine.png">Kinesiologia</div>
            <div><img src="../../../assets/Maternidad.png">Maternidad</div>
            <div><img src="../../../assets/Check.png">Procedimientos y examenes</div>
            <div><img src="../../../assets/Laboratorio.png">Laboratorios</div>
        </section>
    </div>
</body>
</html>
