<html>
<header class="header">

    <ul class="menu">
        <li><a routerLink="/cita">Reserva tu hora </a></li>
        <li><a routerLink="/gen_calendario">Especialidades</a></li>
        <a href="" class="logo">Galenos</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <li><a routerLink="/informe">Contactanos</a></li>
        <li><a routerLink="/login"  >Iniciar sesion</a></li>
    </ul>
</header>
<body>
    
    <div class="contenedor">
        <img class="centrar"src="../../../assets/caa1.jpg">
    </div>
    <div class="servicios">
        <h2>nuestros servicios</h2>
        <section>
            <div><img src="../../../assets/Dental.png"> Dental</div>
            <div><img src="../../../assets/Salud.png">Especialidades Medicas</div>
            <div><img src="../../../assets/Kine.png">Kinesiologia</div>
            <div><img src="../../../assets/Maternidad.png">Maternidad</div>
            <div><img src="../../../assets/Check.png">Procedimientos y examenes</div>
            <div><img src="../../../assets/Laboratorio.png">Laboratorios</div>
        </section>
    </div>
</body>
</html>
