<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Galenos</title>
    </head>
    <body>
        <header class="header">
            <a href="" class="logo">Galenos</a>
        </header>
        <div>
            <label for="rutInput">Ingrese RUT:</label>
            <input id="rutInput" [(ngModel)]="rut" placeholder="Ingrese RUT">
            <button (click)="obtenerConsultas() ">Buscar Médicos</button>
        </div>
        <div *ngIf="consultas.length > 0">
            <h2>Resultados Consultas:</h2>
            <table>
                <tr><td>Id Consulta:</td>
                    <td>Hora Inicio:</td>
                    <td>Hora Final:</td>
                    <td>costo:</td>
                    <td>Fecha:</td>
                    <td> botones</td>
                </tr>
                <tr *ngFor="let consulta of consultas"><td> {{ consulta['id_T'] }}</td>
                <td> {{ consulta['hora_inicio'] }}</td>
                <td>{{ consulta['hora_final'] }}</td>
                <td> {{ consulta['costo'] }}</td>
                <td> {{ consulta['fecha'] }}</td>
                <td> <button (click)="seleccionarConsulta(consulta)">modificar</button>
                    <button>modificar</button>
                </td>
                </tr>
                <hr>
            </table>
        </div>
        <div *ngIf="selectedConsulta">
            <h2>Modificar Consulta:</h2>
            <label for="horaInicioInput">Hora Inicio:</label>
            <input type="time" id="horaInicioInput" [(ngModel)]="horainicio" placeholder="Hora Inicio">
            <label for="horaFinalInput">Hora Final:</label>
            <input type="time" id="horaFinalInput" [(ngModel)]="horafinal" placeholder="Hora Final">
            <label for="costoInput">Costo:</label>
            <input id="costoInput" [(ngModel)]="costo" placeholder="Costo">
            <button (click)="modificarConsulta()">Guardar Cambios</button>
        </div>          
    </body>
</html>
