<!DOCTYPE html>
<html>
    <header class="header">
        <a href="" class="logo">Galenos</a>
    </header>
<body>
    <div>
        <label for="rutInput">Ingrese RUT:</label>
        <input id="rutInput" [(ngModel)]="rut" placeholder="Ingrese RUT">
        <button (click)="buscarMedicos()">Buscar Médicos</button>
    </div>
      <div *ngIf="medicos.length > 0">
        <h2>Resultados:</h2>
        <div *ngFor="let medico of medicos">
            <p>RUT: {{ medico['me.rut'] }}</p>
            <p>Nombre: {{ medico['me.nombre'] }}</p>
            <p>Apellido: {{ medico['me.apellido'] }}</p>
            <p>Especialidad: {{ medico['tp.nombre'] }}</p>
            <hr>
        </div>
    </div>
    <h2>Calendario del {{ anio }} - {{ mes }}</h2>
    <div class="calendario">
    <table> 
        
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>      
            <th>Domingo</th>
            <ng-container *ngFor="let mes of calendario"> 
        <tr *ngFor="let semana of mes">
           <td *ngFor="let dia of semana" [class.empty]="dia == '0'">
                <button *ngIf="dia != 0" (click)="abrirFormulario(dia)"[attr.data-id]="dia">{{ dia }}</button>
            </td>  
        </tr>
        </ng-container>
    </table>
    </div>
    <form class="form"id="form1" *ngIf="mostrar_formulario">
        <label for="time">Hora Entrada:</label>
        <input type="time" id="hora_inicio" name="hora_inicio"[(ngModel)]="hora_inicio" ><br>

        <label for="time">Hora salida:</label>
        <input type="time" id="hora_final" name="hora_final" [(ngModel)]="hora_final"><br>

        <button type="button" id="guardar" (click)="crear_hora()">guardar</button>
    </form>
</body>
</html>
