
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galenos</title>
</head>
<body>

<header class="header">
  <ul class="menu">
    <!--<li class="menu-dropdown">
      <span>Formularios</span>
      <ul class="submenu">
        <li><a href="/informe">Comision</a></li>
        <li><a href="/recaudacion">Recaudación</a></li>
      </ul>
    </li>-->

    <li class="menu-dropdown">
      <span>Especialidad</span>
      <ul class="submenu">
        <li><a href="/crear_especialidad">Crear</a></li>
        <!--<li><a href="#">Eliminar</a></li>-->
      </ul>
    </li>

    <a href="#" class="logo">Galenos</a>
    <li class="menu-dropdown">
      <span>Calendario</span>
      <ul class="submenu">
          <li><a routerLink="/gen_calendario">Generar</a></li>
          <li><a routerLink="/modificar_horas">Modificar y eliminar</a></li>

      </ul>
      </li>
    <li class="menu-dropdown">
      <span>Medico</span>
      <ul class="submenu">
        <li><a routerLink="/crear_medico">Crear </a></li>
        <!--<li><a href="#">Modificar datos </a></li>
        <li><a href="#">Eliminar</a></li>-->
        <li><a routerLink="/horas_medico"> ver horas</a></li>
      </ul>
    </li>
  </ul>
</header>

<div>
    <label for="rutInput">Ingrese RUT:</label>
    <input id="rutInput" [(ngModel)]="rut_medico" placeholder="Ingrese RUT">
    <button (click)="obtenerConsultas()">Buscar Médicos</button>
</div>
<div *ngIf="consultas.length > 0">
    <h2>Resultados Consultas:</h2>
    <div *ngFor="let consulta of consultas">
    <div> {{ consulta['id_T'] }} </div>
    <div> {{ consulta['hora_inicio'] }} </div>
    <div> {{ consulta['costo'] }}</div>
    <div> {{ consulta['fecha'] }}</div>
    <button (click)="cambiar_estado(consulta)">Cambiar Estado</button>
    </div>